<div class="danh-sach" style="margin-top:30px;">
    <div class="tag-list">
        <ul style="margin-bottom: 0rem;" class="list-inline">
            <li class="list-inline-item">
                <h4><a style="text-decoration: none;color: black;" href="ThoiSu.html"><b>PHÓNG SỰ</b></a></h4>
            </li>
            <li class="list-inline-item">
                <a style="margin-bottom: 5px;background:white;color: black" class="btn btn-primary btn-sm" href="#"
                    role="button">Biển Hội An</a>
            </li>
            <li class="list-inline-item">
                <a style="margin-bottom: 5px;background:white;color: black" class="btn btn-primary btn-sm" href="#"
                    role="button">Cá chết kênh Nhiêu Lộc - Thị Nghè</a>
            </li>
            <li class="list-inline-item">
                <a style="margin-bottom: 5px;background:white;color: black" class="btn btn-primary btn-sm" href="#"
                    role="button">Cưỡng chế nhà kho xây dựng trái phép</a>
            </li>
        </ul>
    </div>

    <ul class="list-group list-group-flush">
        {{#each this.baiviet}}
        <li class="list-group-item">
            <div class="ban-tin">
                <ul class="list-inline">
                    <li class="list-inline-item" style="width:410px;height:240px;">
                        <a
                            href="https://tuoitre.vn/ma-tuy-da-tu-tam-giac-vang-ky-1-thu-phu-ma-tuy-da-20190416103206007.htm">
                            <img src="https://cdn.tuoitre.vn/thumb_w/586/2019/4/16/matuy1-1555385275774164978638.jpg"
                                alt="" style="width: 410px;height: 240px;">
                        </a>
                    </li>
                    <li class="list-inline-item" style="vertical-align:top;height:240px;">
                        <a href="https://tuoitre.vn/ma-tuy-da-tu-tam-giac-vang-ky-1-thu-phu-ma-tuy-da-20190416103206007.htm"
                            style="text-decoration: none;color: black">
                            <h5 style="width:645px;height:auto;">{{TieuDe}}</h5>
                        </a>
                        <p style="width:645px;height:auto;">{{TomTat}}</p>
                        <div class="nhan">
                            <h6>Thời sự</h6>
                            <span title="18-4-2019 10:00">{{NgayDang}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        {{/each}}
    </ul>
</div>