<div style="width:420px;margin-top:40px;text-align:center;margin-left:320px;">
    {{#if err_message}}
    <div class="alert alert-warning" role="alert">
        {{err_message}}
    </div>
    {{/if}}
</div>

<form novalidate action="" method="POST" class="sign-in-form"
    style="width:420px;margin-top:20px;margin-bottom:50px;margin-left:320px;background:whitesmoke;">
    <div class="label">
        <ul class="list-inline">
            <li style="width:203px;text-align:center;" class="list-inline-item li-dnhap">
                <h5 style="border-top:solid red;"><a href="/taikhoan/dangnhap"
                        style="text-decoration:none;color:black;">Đăng
                        nhập</a></h5>
            </li>
            <li style="width:203px;text-align:center;background:#d8d8d8;" class="list-inline-item li-dky">
                <h5><a href="/taikhoan/dangky" style="text-decoration: none;color: black;">Đăng
                        ký</a></h5>
            </li>
        </ul>
    </div>

    <div class="content-form" style="margin: 10px;">
        <div class="form-group">
            <label for="tendn">Tên đăng nhập</label>
            <input type="text" class="form-control" id="tendn" name="tendn" placeholder="User name">
        </div>
        <div class="form-group">
            <label for="matkhau">Mật khẩu</label>
            <input type="password" class="form-control" id="matkhau" name="matkhau" placeholder="Password">
        </div>
        <button style="margin-bottom:10px;width:400px;" type="submit" class="btn btn-primary">Đăng nhập</button>
        <ul class="list-inline">
            <li class="list-inline-item">--------------------------</li>
            <li class="list-inline-item">Hoặc</li>
            <li class="list-inline-item">--------------------------</li>
        </ul>
        <div class="form-group">
            <button style="width:197px;background: #3b5a9b;" type="button" class="btn btn-primary btn-facebook"><i
                    style="margin-right:8px;" class="fab fa-facebook-f"></i>Facebook</button>
            <button style="width:198px; background: #c9302c;" type="button" class="btn btn-danger btn-google"><i
                    style="margin-right:8px;" class="fab fa-google-plus-g"></i>Google</button>
        </div>
    </div>
</form>